<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Flight Booking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../Styles/main.css">
    <link rel="stylesheet" type="text/css" media="screen" href="../Resources/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    
</head>
<body ng-app="my-app" ng-controller="my-ctrl">
    <div class="jumbotron">
        <h1 class="text-center">Direct flight</h1>
    </div>
   <div class=" row pad">
    <div class="col-md-4 ">
      <input type="text" class="form-control" placeholder="&#xF002; From" style="font-family:Arial, FontAwesome" />
    </div>
    <div class="col-md-4 ">
       <input type="text" class="form-control" placeholder="&#xF002; To" style="font-family:Arial, FontAwesome" />
    </div>
    <div class="col-md-4 ">
        <input type="text" class="form-control" placeholder="Date">
    </div>
   </div>
   {{flights}}

<script src="../Resources/angular.min.js"></script>
<script src="../Controllers/mainController.js"></script>
<script src="../Styles/main.js"></script>
<script src="https://code.angularjs.org/1.2.16/angular-resource.js"></script>
</body>
</html>
